<div class="skills" id="skills">
                    <div class="card1">
                        <h4>Design</h4>
                        <p>----------------------</p>   
                    </div>
                    <div class="card1">
                            <h4>Marketing</h4>
                            <p>----------------------</p>
                    </div>
                    <div class="card1">
                        <h4>Photography</h4>
                        <p>----------------------</p>   
                    </div>
                    <br>
                    <div class="card1">
                            <h4>Branding</h4>
                            <p>----------------------</p>
                    </div>
                    <div class="card1">
                            <h4>Development</h4>
                            <p>----------------------</p>
                    </div>
                    <div class="card1">
                            <h4>SEO</h4>
                            <p>----------------------</p>
                    </div>

                </div>